*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    background-color: bisque;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/*Inicio Cabecera*/
.cabecera{
    background-color: lightblue;
    width: 70%;
    height: 50px;
    padding: 0 40px;
    
}
.cabecera_link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.cabecera_img{
    object-fit: cover;
    height: 90%;
    margin-right: 10px;
}
/*Fin Cabecera*/
/*Inicio navegacion*/
.navegacion{
    background-color: black;
    width: 70%;
    height: 60px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
.navegacion a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: blueviolet;
    padding: 25px 50px;
}

.navegacion a:hover{
    color: black;
    background-color: rgb(218, 185, 87) ;
}
/*fin navegacion*/

/*Inicio banner*/

.banner{
    background-image: url(../img/tecno.jpg);
    width: 70%;
    background-position: center;
    height: calc(90vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.banner h1{
    font-size: 75px;
}
.banner h2{
    font-size: 30px;
}
.banner a{
    background-color: aqua;
    width: 250px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    margin-top: 75px;
    color: black;
}
.banner a:hover{
    background-color: rgb(47,47,47);
    color: rgb(255,255,255);;
}
/*fin banner*/

/*inicia seccion 2*/
.seccion-2{
    background-color: rgb(203,231,196);
    width: 70%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}
.seccion-2H{
    background-color: rgb(203,231,196);
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}
.bloque-izq{
    width: 60%;
    height: 100%;
    background-color: rgb(203,231,196);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 3%;

}
.izq-titulo{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.izq-titulo h2{
    font-size: 28px;
}
.izq-titulo h3{
    font-size: 18px;
    margin-top: 10px;
    color:rgb(114,114,114);
}

.izq-img{
    width: 100%;
   margin: 30px 0;
}
.izq-img img{
    object-fit: cover;
    width: 100%;
}
.izq-parrafo{
    font-size: 18px;
}
.izq-parrafoH{
    font-size: 15px;
    align-items: center;
    margin: 20px 0;
}

.bloque-der{
    width: 40%;
    height: 100;
    
    padding: 0 3%;
}
.der-titulo{
    
    text-align: center;

}
.der-titulo h3{
    font-size: 20px;
}
.der-noticias{
    background-color: rgb(203,231,196);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 30px 0;
}
.noticias-img{
    width: 50%;
    
}
.noticias-img img{
    object-fit: cover;
    width: 100%;
}
.noticias-textos{
    width: 50%;
    margin: 0 10px;
}
.noticias-textos{
    width: 50%;
    margin: 0 10px;
}
.noticias-textos h4{
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;

}
.noticias-textos p{
    font-size: 15px;
    text-align: justify;
}
.noticias-textos a{
    font-size: 14px;
    margin-top: 10px;
}

/*fin seccion 2*/

/*Inicia seccion 3*/

.seccion-3{
    background-color: aqua;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.article{
    width: 60%;
    height: 100%;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.tabla-titulo{
    
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabla-titulo h2{
    font-size: 28px;
    color: black;
}
.tabla-titulo h3{
    font-size: 18px;
    margin-top: 5%;
    color: rgb(63,63,63);
    
}
.tabla-div{
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    margin: 20px 0;
}
.tablaDivPro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    margin: 10px 0;
}
.table{
    table-layout: auto;
    border: 1px solid black;
    border: collapse;
    width:60%;
    height: 100%;
}

.tablaProducto{
    table-layout: auto;
    border: 1px solid black;
    border: collapse;
    width: 100%;
    height: 100%;
}

.fila-encabezado{
    background-color: greenyellow;
    width: auto;
    height: 40px;
}
.fila-encabezadoP{
    background-color: greenyellow;
    width: auto;
    height: 20px;
}
.fila-dato{
    width: auto;
    height: 40px;
}
.fila-datoP{
    width: auto;
    height: 40px;
    align-items: center;
}
.fila-dato:nth-child(odd){
    background-color: rgb(245,245,245);
    
}
.fila-dato:nth-child(even){
    background-color: rgb(209, 203, 203);
    
}
.columna{
    text-align: center;
}
.columnaP{
    align-items: center;
    
}
.rs-div{
width: 100%;
height: auto;

}
.rs-img{
    width: 100%;
    height: 40px;

}
.rs-img img{
    object-fit: cover;
    height: 100%;
    margin: 0 10px;
}
.aside{
    width: 40%;
    height: 100%;
}
.mapa{
    background-color: aqua;
    width: 100%;
    height: 40%;
}
.mapa iframe{
    width: 100%;
    height: 100%;
    border: 0;
}
.form-div{
    background-color: rgb(8, 8, 8);
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    padding: 15px;
}
.formulario{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.form-div h3{
    font-size: 20px;
    padding: 10px 0;

}
.form-div p{
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
}
.input{
    width: 100%;
    height: 35px;
    margin: 5px 0;
    outline: none;
    font-size: 14px;
}
.textarea{
    width: 100%;
    height: 80px;
    margin: 5px 0;
    outline: none;
    resize: none;
    font-size: 14px;
}
.submit{
    width: 50%;
    height: 45px;
    margin: 20px 0;
    background-color: orange;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    
}
/*fin seccion 3*/

/*Inicio seccion 4*/

.seccion-4{
    background-color: rgb(8, 8, 8);
    width: 70%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navegacion-footer{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.navegacion-footer a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 25px 50px;
}

.navegacion-footer a:hover{
    color: black;
    background-color: rgb(218, 185, 87) ;
}
.contenedor-s4{
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.textos-s4{
   width: 25%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding-top: 5%;
}
.textos-s4 a{
    
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 5px 0;
 }

.textos-s4 h3{
    color: white;
    font-size: 24px;
 
}
.textos-s4:nth-child(odd){
   background-color: black;
}
.textos-s4:nth-child(even){
    background-color: rgb(43, 42, 42);
}


.footer{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;


}

.footer a{
text-decoration: none;
font-size: 18px;
color: white;
}

.footer p{

}

/*fin seccion 4*/